[submodule "games/german-quiz-cli"]
	path = games/german-quiz-cli
	url = git@github.com:RadhiRasho/german-quiz-cli.git
	branch = master
[submodule "games/todo-cli"]
	path = games/todo-cli
	url = git@github.com:RadhiRasho/todo-cli
