go 1.23.4

use (
	./Algorithms
	./arrays-and-slices
	./basics
	./fileio
	./games/game-of-life
	./games/german-quiz-cli
	./games/passgen
	./games/snake
	./games/streaming-ascii
	./games/todo-cli
	./gin-server
	./goroutines
	./greetings
	./hello
	./https
	./image-manipulation
	./ip-geolocation
	./server
	./utils
	./web-scrapping
	./websocket
	./animations
)
