go 1.22.1

use (
	./arrays-and-slices
	./basics
	./fileio
	./game-of-life
	./gin-server
	./goroutines
	./greetings
	./hello
	./https
	./image-manipulation
	./ip-geolocation
	./server
	./utils
	./web-scrapping
)
