go 1.22.3

use (
	./arrays-and-slices
	./basics
	./fileio
	./games/game-of-life
	./games/german-quiz-cli
	./games/passgen
	./games/snake
	./gin-server
	./goroutines
	./greetings
	./hello
	./https
	./image-manipulation
	./ip-geolocation
	./server
	./utils
	./web-scrapping
)
